*{
    box-sizing: border-box;
}

:root {
    /* ======= colors ======= */
    --primary-color: rgba(255, 140, 0, 1);         /* Orange */
    --secondary-color: rgba(192, 192, 192, 1);     /* Silver */
    --text-color: rgba(255, 255, 255, 1);          /* White */
    --base-color: rgba(255, 255, 255, 1);              /* Pure white */
    --screen-color: rgba(236, 240, 241, 1);        /* Light Gray */
    --CTA-color: rgba(52, 130, 230, 1);             /* Blue */
    --primary-hover-color: rgba(240, 110, 0, 1);    /* Darker Orange */
    --secondary-hover-color: rgba(169, 169, 169, 1); /* Darker Silver */
    --screen-text-color: rgba(44, 62, 80, 1);       /* Dark Blue */
    --CTA-hover-color: rgba(41, 128, 200, 1);      /* Darker Blue */
    --frame-color: rgba(50,50,50,1);
    /* ======= font style ======= */
    --font: 'inter', sans-serif;

    /* ======= font size ======= */
    --regular: 20px;
    --large: 60px;



}

.darkmode {
    --primary-color: rgba(255, 140, 0, 1);         /* Bright Orange */
    --secondary-color: rgba(169, 169, 169, 1);     /* Light Gray */
    --text-color: rgba(255, 255, 255, 1);          /* White */
    --base-color: rgba(30, 30, 30, 1);              /* Dark Gray */
    --screen-color: rgba(50, 50, 50, 1);            /* Darker Gray */
    --CTA-color: rgba(52, 130, 230, 1);             /* Bright Blue */
    --primary-hover-color: rgba(240, 110, 0, 1);    /* Darker Orange */
    --secondary-hover-color: rgba(192, 192, 192, 1); /* Light Silver */
    --screen-text-color: rgba(255, 255, 255, 1);    /* White */
    --CTA-hover-color: rgba(41, 128, 200, 1);       /* Darker Blue */
    --frame-color: rgba(70, 70, 70, 1);              /* Medium Gray */

    /* ======= font style ======= */
    --font: 'inter', sans-serif;

    /* ======= font size ======= */
    --regular: 20px;
    --large: 60px;
}
body{
    background-color: var(--base-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#calc-frame{
    height: 100vh;
    width: 400px;
    background-color: var(--frame-color);
    border: none;
    border-radius: 40px;
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 3px 4px 1px; rgba(0,0,0,0.4);

}
/* ==================== screen =================== */
#theme-btn{
    flex: 0.35;
    background-color: white;
    width: 40px;
    margin-bottom: 20px;
    align-self: end;
    margin-right: 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.9),1px 1px 4px 1px rgba(0,0,0,0.5) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    position: relative;
}

#theme-btn:hover{
    transform: scale(1.1);
}

#theme-btn img{
    object-fit: contain;
    position: relative;
    width: 20px;
    length: 20px;
}
#screen{
    background-color: var(--screen-color);
    color: var(--screen-text-color);
    font-family: var(--font);
    font-size: var(--large);
    flex: 1;
    width: 99%;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.45) inset;

}
#screen h1{
    color: var(--screen-text-color);
    font-family: var(--font);
    font-size: var(--large);
    margin: 0;
}

/* ==================== buttons =================== */
#buttons{
    background-color: transparent;
    flex: 4;
    width: 99%;
    border: none;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#buttons button{
    text-align: center;
    border: none;
    border-radius: 20px;
    font-family: var(--font);
    font-size: var(--regular);
    box-shadow: 3px 3px 6px rgba(0,0,0,0.9),1px 1px 4px 1px rgba(0,0,0,0.5) inset;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#buttons button:hover{
    transform: scale(1.03);
}
#buttons button:active{
    animation-name: animate;
    animation-duration: 5s;
    transition: all ease-in-out 0.3s;
}
@keyframes animate{
    0%{transform: scale(1);}
    25%{transform: scale(1.01);}
    75%{transform: scale(1.02);}
    100%{transform: scale(1.03);}
}


.primary-btn{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.primary-btn:hover{
    background-color: var(--primary-hover-color);
}

.secondary-btn{
    background-color: var(--secondary-color);
    color: var(--frame-color);
}
.secondary-btn:hover{
    background-color: var(--secondary-hover-color);
}

.CTA-btn{
    background-color: var(--CTA-color);
    color: var(--text-color);
}
.CTA-btn:hover{
    background-color: var(--CTA-hover-color);
}




